<plugin name='build-info-tag' version='0.1' grailsVersion='2.0.0 &gt; *'>
  <author>François Terrier</author>
  <authorEmail>fterrier@gmail.com</authorEmail>
  <title>Build Info Tag Plugin</title>
  <description>Puts a build.info file in the generated WAR file and provides a GSP tag to display
the information in it. For now, the build number is the date and the plugin also
collects the GIT commit number and displays it (won't work on Windows).
</description>
  <documentation>http://grails.org/plugin/build-info-tag</documentation>
  <type>BuildInfoTagGrailsPlugin</type>
  <resources>
    <resource>org.chai.buildinfo.BuildInfoTagLib</resource>
  </resources>
  <repositories />
  <dependencies />
  <plugins>
    <runtime>
      <plugin group='org.grails.plugins' name='resources' version='1.1.5' />
      <plugin group='org.grails.plugins' name='hibernate' version='2.0.0' />
      <plugin group='org.grails.plugins' name='jquery' version='1.7.1' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.0.0' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>